
#cart{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}
.card{
    margin-bottom: 1rem;
    background-color: transparent !important;
}
@media (max-width: 990px) {
    #cart{
        width: 100% !important;
    }
    .card{
        width: 100% !important;
    }
    
}