
#cart{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card{
    margin-bottom: 1rem;
    background-color: transparent !important;
}
#servicesbtn{
 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.plan-modal{
    width:auto !important;

}
@media (max-width: 990px) {
    #cart{
        width: 100% !important;
    }
    .card{
        width: 100% !important;
    }
    
}