#leftcol, #rightcol{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
#leftcol{
    max-height: 99vh !important;
}
#cartline{
    width: 100%;
    background: white;
    height: 1px;
}
#cart{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem !important;
    backdrop-filter: blur(5px);
    color: white;
    min-width: 25vw !important;
}
.card{
    margin-bottom: 1rem;
    border-radius: 0px;
    min-width: 35vw !important;
    background-color: transparent !important;
    border: 1px solid white;
    color: white;
}

h5{
    font-weight: 800;
}

@media (max-width: 990px) {
    #leftcol{
        position: static !important;
    }
    #cart{
        width: 100% !important;
    }
    .card{
        width: 100% !important;
    }
    
}