#section1{
    background: -webkit-linear-gradient(to top, #41434559, #141414d5),url('../../images/landingPageDoodle.png');  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #000000, #07070750),url('../../images/landingPageDoodle.png'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-size: cover;
    min-height: 90vh ;
    
}
svg{
    background:#ffc107 ;
   
}
#dropdownbutton{
    border: yellow;
}

#section2{
    padding-top: 10rem !important;
    min-height: 80vh ;
    background: linear-gradient(to bottom, #695600a4, #ffc107 ),url('../../images/landingPageServicesBG.png'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-size: cover;
}
#countupsection{
    background: linear-gradient(to top, #41434563, #070707c4),url('../../images/countUpSectionBG.png'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-size: cover;
}
#section3{
    background: black center;
    background-size: cover;
}
#section4{
    background: #ffc107;
}
.servicecard{
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
    border: solid #ffc107 1px;
    border-radius: 0% !important;
    color: white;
    transition: transform .3s;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.servicecard:hover{
    transform: scale(1.08)
}
.imagecontainer{
    min-height: 18rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white ;
    padding:.4rem;
}