.section1{
    background-image: url("bg3.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lexend', sans-serif;
}
#base{
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 4rem;
    padding: 4rem;
    backdrop-filter: blur(5px);
}
#loginb, #signupb{
    border-radius: 4rem;
    min-width: 100%;
    font-size: 2em;
}
#loginb:hover{
    background-color:rgba(56, 56, 56, 0.267);
}
@media (max-width:600px){
    #base{
        margin-left: 1rem;
        margin-right: 1rem;;
    }
}
h3{
    color: rgb(140, 0, 255);
    font-weight: 700 !important;
}

