.navbar {
    background-color: black !important;
}

.btn-outline-light {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

#navbutton.active, #navbutton:hover {
    color: black !important;
}

#navbutton {
    color: white;
    border-color: white;
}

