.app{
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Lexend', sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #353535;


}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}
.pointer-on-hover{
  cursor: pointer;
}

.unavailable{
  color:red !important;
  
}
.unavailable:hover{
  cursor:not-allowed!important;
  background-color: white!important;
}
.available{
  color:green !important;
  
}

.disabled{
  color:grey !important;
  background-color: white!important;
}
.disabled:hover{
  background-color: white!important;
  cursor:not-allowed !important;
}

.react-datepicker__day--selected{
  color:white!important;
}
.react-datepicker__day--keyboard-selected{
  background-color: white!important;
}
.selectedTime{
  color:white!important;
}
#dropdownbutton{
  box-shadow: rgba(184, 184, 184, 0.15) 0px 48px 100px 0px;

}
@media screen and (max-width: 600px) {
  #carbrandimage{
    height: 50px !important;
  }
  #dropdownbutton{
    min-width: 100% !important;
  }
}
@media screen and (min-width:0px) and (max-width: 1000px) {
  #dropdownbutton{
    min-width: 100% !important;
  }
}